<!DOCTYPE html>
<html lang="en">
<head>
<title>Add Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="______">
</head>
<body>

<div class="header">
  <h1>Heading by <em>______</em></h1>
  <p>Sub-heading.</p>
</div>

<div class="navbar">
  <a href="#">About</a>
  <a href="info.html">More Info</a>
  <a href="contact.html">Contact</a>
  <a href="#" class="right">Other links</a>
</div>

<div class="row">
  <div class="side">
    <h2>Left side</h2>
    <h5> Add Photo:</h5>
    <div class="img" style="height:250px;"><img src="avatar.png" style="height:250px;"></div>
    <p>______.</p><br><hr>
    <h3>______</h3>
    <p>______.</p>
    <div class="img" style="height:60px;"><a href="#"></a></div><br>
    <div class="img" style="height:70px;"><a href="#">______</a></div><br>
    <div class="img" style="height:70px;"><a href="#">______</a></div>
  </div>
  <div class="main">
    <h3>Title</h3>
    <h5>Description, <em>DD-MM-YYYY</em></h5>
    <div class="img" style="height:250px;"><img src="img1.jpg" style="height:200px;"></div>
    <p><a href="#">______</a></p>
    <br>
    <h3>Title</h3>
    <h5>Description, <em>DD-MM-YYYY</em></h5>
    <div class="img" style="height:250px;"><img src="img1.jpg" style="height:200px;"></div>
    <p><a href="#">______</a></p>
  </div>
</div>

<div class="footer">
  <p>© Created by <a href="#" target="_blank">[Y/N]</a>
  </p>
</div>

</body>
</html>